@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: black;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: red;
    margin: 8px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 22px;
    margin-left: 8px;
    color: white;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 8px;
    color: white;
}