@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

.navbar{
    position: relative;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

nav ul li a:hover{
    color: rgb(86, 86, 244);
}

.intro{
    font-family: 'Poppins', sans-serif;
    margin: 5px;
}

.title-intro{
    margin-left: 40px;
    margin-bottom: 3px;
    font-weight: 400;
}

.btn{
    margin-bottom: 30px;
    background-color: rgb(66, 66, 248);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.container{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
    background-color: rgb(251, 250, 248);
}

.card-body{
    padding: 1.5rem;
}

.card-title{
    font-size: 1.15rem;
    line-height: 1.33;
    font-weight: 700;
}

.card-parraf{
    margin-top: 0.75rem;
    line-height: 1.5;
}